<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>ecommerce</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
<ul class="menu2">
  <li><a href="#home">Accueil</a></li>
  <li>
    <a href="#services">Services</a>
    <ul class="submenu2">
      <li><a href="#web">Développement Web</a></li>
      <li><a href="#mobile">Développement Mobile</a></li>
      <li><a href="#cloud">Services Cloud</a></li>
    </ul>
  </li>
  <li><a href="#about">À propos</a></li>
  <li><a href="#contact">Contact</a></li>
</ul>
<div class="bloc">
 <button>Home</button>
  <button>Login</button>
</div>
<header  class="header">
  <h1>WooCommerce.</h1>
  <h2>PrestaShop, une référence dand la création de site marchand</h2>
</header>
<section class="hero">
  <div  class="hero-text">
    <h1>Your ecommerce. <br> Your brand . Your rules.</h1>
    <p>
      PrestaShop offers you a highly flexible and scalable e-commerce platform
      to launch an online business 100% owned and designed by you.
    </p>
    <button>Get started</button>
  </div>
  <img src="assets/vecteezy_shop-marketing-3d-icon-illustration-for-your-website-user_9418828.png" alt="Ecommerce showcase" class="hero-image">
</section>
<form  id="contact" >
  <!-- Nom -->
  <label for="nom"><u><i>Nom</i></u> :</label>
  <input type="text" id="nom" placeholder="Entrer votre nom ici"  pattern="[a-zA-Z]+">
  <br><br>

  <!-- Champ ReadOnly -->
  <label for="readOnly">ReadOnly :</label>
  <input id="readOnly" type="text" placeholder="ReadOnly" readonly>
  <br><br>

  <!-- Champ Disabled -->
  <label for="disabled"><s>prenom</s> :</label>
  <input type="text" id="disabled" placeholder="Disabled" disabled>

  <label for="disabled">mot de passe :</label>
  <input type="password"   placeholder="passowrd" minlength="6" required>
  <br>
  <!-- Sexe -->
  <label>Sélectionner votre sexe :</label>
  <input type="radio" id="homme" name="sexe" value="homme">
  <label for="homme">Homme</label>
  <input type="radio" id="femme" name="sexe" value="femme">
  <label for="femme">Femme</label>
  <br><br>

  <!-- Langues préférées -->
  <label>Sélectionner vos langues préférées :</label>
  <input type="checkbox" id="Francais" value="fr">
  <label for="Francais">Français</label>
  <input type="checkbox" id="anglais" value="en">
  <label for="anglais">Anglais</label>
  <br><br>
  <label>Sélectionner votre pays:</label>
  <select>
    <option>France</option>
    <option>Tunisie</option>
    <option>Italie</option>
  </select>

  <label for="avatar">Choisissez votre avatar :</label>
  <input type="file" id="avatar">
  <br><br>

  <!-- Bouton d'envoi -->
  <a href="https://www.google.com/">
    <button type="button">lien vers google</button>
  </a>
  <br><br>
  <!-- Bouton d'envoi -->
  <button type="submit" >Envoyer</button>

</form>

<footer class="footer">
  <p>&copy; 2025 Your Company Name. All rights reserved.</p>
</footer>
</body>
